a,
a:hover {
  text-decoration: none;
  color: #66757f;
}

.fa-home,
.brand-logo,
a {
  color: #1da1f2;
  margin-right: 5px;
  font-weight: bold;
}

body {
  background: #e6ecf0;
}

.twitter-logo {
  display: flex;
  align-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
}

.profile-image {
  height: 5%;
  width: 5%;
  border-radius: 50%;
  margin-right: 15px;
}
.profile-pic {
  height: 30%;
  width: 30%;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 1rem;
  margin-top: 1rem;
}
.profile-name {
  margin-left: 1rem;
}

img.profile-image {
  float: right;
}

/* Buttons */
.tweet-button {
  background: #329cc3;
  border-radius: 100px;
  border: none;
}
.tweet-button:hover {
  background: #2a88ab;
}

.tweet-button-modal {
  background: #329cc3;
  border-radius: 100px;
  float: right;
  color: white;
  padding: 5px;
}

.animated {
  animation-duration: 2.5s;
  margin-bottom: 20px;
  margin-top: 5px;
  color: #1da1f2;
  font-family: Gotham Narrow SS;
  font-size: 18px;
}

.posts-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-form-input {
  height: 12rem;
}

.modal {
  max-height: 30rem;
}

nav.navbar.navbar-light {
  margin-bottom: 20px;
}

.tweet-hover:hover {
  background: #e6ecf0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

.fa-angle-down {
  margin-left: 15rem;
}

.far.fa-comment:hover,
.fa-heart:hover {
  font-size: 130%;
  transition: 0.5s ease-out;
}
.comment-title {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.comment {
  margin-left: 1rem;
  position: absolute;
  bottom: 18px;
}
.angle-icon-container {
  float: right;
  margin-right: 5em;
}

.angle-icon-container:hover {
  color: #1da1f2;
}

.form-control {
  height: 6rem;
}

.modal-title {
  margin-left: 25%;
}

.modal-body {
  background: #e6ecf0;
}

/*image uploads */
.upload-small {
  height: 20%;
  width: 20%;
  margin-left: 5rem;
}

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-upload-button {
  font-size: 0.75em;
  font-weight: 700;
  color: white;
  background-color: #1da1f2;
  padding: 5px;
  display: inline-block;
}

.file-upload-button:hover {
  background: #034f7d;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px #034f7d;
  -moz-box-shadow: 0px 5px 40px -10px #034f7d;
  box-shadow: 5px 40px -10px#034f7d;
  transition: all 0.4s ease 0s;
}

.logout {
  margin-left: 20rem;
  padding: 0;
}

/* comments */

.comments:hover {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

/* date */

.date {
  font-size: 12px;
  font-family: 'New Baskerville';
}

.comment-count,
.like-count {
  margin-left: 5px;
  font-size: 12px;
}

.fa-heart {
  margin-left: 25rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 50vmax;
  overflow: hidden;
}

.grid-item {
  background: white;
  text-align: center;
}

.grid-item1 {
  background-image: url('Twitter.png');
  text-align: center;
}

/* google button  */
.ui.button,
.google-auth__button {
  padding: 12px 16px;
  background: #ffffff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.22px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 35rem;
}
.google-auth__logo {
  display: inline-block;
  margin-right: 16px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  vertical-align: top;
}
.google-auth__button:hover {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.stage {
  height: 100%;
}
.stage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-title {
  margin-top: 13rem;
}

.tweet-card {
  margin-left: 20rem;
}

.tweet-card-image {
  margin-left: 24rem;
  height: 5%;
  width: 10%;
  border-radius: 50%;
  margin-right: 15px;
}

/* downshift  */

.downshift-dropdown {
  width: 20rem !important;
  background: #b7e1f5c4;
}

.dropdown-button {
  padding: 0.6rem;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
}

.search {
  height: 2.5rem;
}

.date {
  margin-bottom: 5rem;
}

.tweet-text {
  margin-left: 2rem;
}

ul,
li {
  list-style-type: none;
}

.tweet-card {
  position: relative;
  top: -32rem;
}
