a,
a:hover {
  text-decoration: none;
  color: #66757f;
}

.fa-home,
.brand-logo,
a {
  color: #0084b4;
  margin-right: 5px;
  font-weight: bold;
}

body {
  background: #e6ecf0;
}

.twitter-logo {
  margin: 5px;
}

.profile-image {
  height: 5%;
  width: 5%;
  border-radius: 50%;
  margin-right: 15px;
}

/* Buttons */
.tweet-button {
  background: #1da1f2;
  border-radius: 100px;
}

.tweet-button-modal {
  background: #1da1f2;
  border-radius: 100px;
  float: right;
  color: white;
  padding: 5px;
}

.animated {
  animation-duration: 2.5s;
  margin-bottom: 20px;
  margin-top: 5px;
  color: #1da1f2;
  font-family: Gotham Narrow SS;
  font-size: 18px;
}

.posts-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-form-input {
  height: 12rem;
}

.modal {
  max-height: 30rem;
}

nav.navbar.navbar-light {
  margin-bottom: 20px;
}

.tweet-hover:hover {
  background: #e6ecf0;
}

.fa-angle-down {
  margin-left: 8rem;
}

.far.fa-comment:hover {
  font-size: 130%;
  transition: 0.5s ease-out;
}

.angle-icon-container {
  float: right;
  margin-right: 5em;
}

.form-control {
  height: 10rem;
}

.modal-title {
  margin-left: 25%;
}

.modal-body {
  background: #e6ecf0;
}

/*image uploads */
.upload-small {
  height: 15%;
  width: 15%;
}
