a,
a:hover {
  text-decoration: none;
  color: #66757f;
}

.fa-home,
.brand-logo,
a {
  color: #0084b4;
  margin-right: 5px;
  font-weight: bold;
}

.twitter-logo {
  margin: 5px;
}

.profile-image {
  height: 5%;
  width: 5%;
  border-radius: 50%;
  margin-right: 15px;
}

/* Buttons */
.tweet-button {
  background: #1da1f2;
  border-radius: 100px;
}

.animated {
  animation-duration: 2.5s;
  margin-bottom: 20px;
  margin-top: 5px;
  color: #85144b;
  font-family: Gotham Narrow SS;
  font-size: 18px;
}

.posts-display {
  display: flex;
  align-items: center;
  justify-content: center;
}
